---
Checks: '
clang-analyzer-*,
bugprone-*,
readability-*,
cppcoreguidelines-*,
-altera-*,
-clang-analyzer-security.insecureAPI.*,
-bugprone-easily-swappable-parameters,
-bugprone-branch-clone,
-readability-uppercase-literal-suffix,
-readability-function-cognitive-complexity,
-readability-magic-numbers,
-readability-identifier-length,
-readability-braces-around-statements,
-cppcoreguidelines-pro-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-avoid-c-arrays,
-readability-avoid-const-params-in-decls,
-readability-isolate-declaration,
'

WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key:             readability-magic-numbers.IgnoredFloatingPointValues
    value:           '0.0;1.0;100.0;'
  - key:             readability-magic-numbers.IgnoredIntegerValues
    value:           '0;1;2;3;4;5;6;7;8;9;'
